
#Created by Constraints Editor (xc6slx45-csg324-3) - 2024/04/19
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 10 ns HIGH 50%;
OFFSET = IN 10 ns VALID 10 ns BEFORE "CLK" RISING;
INST "dev_done" TNM = inputs;
INST "dev_result<0>" TNM = inputs;
INST "dev_result<1>" TNM = inputs;
INST "dev_result<2>" TNM = inputs;
INST "dev_result<3>" TNM = inputs;
INST "dev_result<4>" TNM = inputs;
INST "dev_result<5>" TNM = inputs;
INST "dev_result<6>" TNM = inputs;
INST "dev_result<7>" TNM = inputs;
INST "dev_result<8>" TNM = inputs;
INST "dev_result<9>" TNM = inputs;
INST "dev_result<10>" TNM = inputs;
INST "dev_result<11>" TNM = inputs;
INST "dev_result<12>" TNM = inputs;
INST "dev_result<13>" TNM = inputs;
INST "dev_result<14>" TNM = inputs;
INST "dev_result<15>" TNM = inputs;
INST "dev_result<16>" TNM = inputs;
INST "dev_result<17>" TNM = inputs;
INST "dev_result<18>" TNM = inputs;
INST "dev_result<19>" TNM = inputs;
INST "dev_result<20>" TNM = inputs;
INST "dev_result<21>" TNM = inputs;
INST "dev_result<22>" TNM = inputs;
INST "dev_result<23>" TNM = inputs;
INST "dev_result<24>" TNM = inputs;
INST "dev_result<25>" TNM = inputs;
INST "dev_result<26>" TNM = inputs;
INST "dev_result<27>" TNM = inputs;
INST "dev_result<28>" TNM = inputs;
INST "dev_result<29>" TNM = inputs;
INST "dev_result<30>" TNM = inputs;
INST "dev_result<31>" TNM = inputs;
INST "input<0>" TNM = inputs;
INST "input<1>" TNM = inputs;
INST "input<2>" TNM = inputs;
INST "input<3>" TNM = inputs;
INST "input<4>" TNM = inputs;
INST "input<5>" TNM = inputs;
INST "input<6>" TNM = inputs;
INST "input<7>" TNM = inputs;
INST "input<8>" TNM = inputs;
INST "input<9>" TNM = inputs;
INST "input<10>" TNM = inputs;
INST "input<11>" TNM = inputs;
INST "input<12>" TNM = inputs;
INST "input<13>" TNM = inputs;
INST "input<14>" TNM = inputs;
INST "input<15>" TNM = inputs;
INST "input<16>" TNM = inputs;
INST "input<17>" TNM = inputs;
INST "input<18>" TNM = inputs;
INST "input<19>" TNM = inputs;
INST "input<20>" TNM = inputs;
INST "input<21>" TNM = inputs;
INST "input<22>" TNM = inputs;
INST "input<23>" TNM = inputs;
INST "input<24>" TNM = inputs;
INST "input<25>" TNM = inputs;
INST "input<26>" TNM = inputs;
INST "input<27>" TNM = inputs;
INST "input<28>" TNM = inputs;
INST "input<29>" TNM = inputs;
INST "input<30>" TNM = inputs;
INST "input<31>" TNM = inputs;
INST "input<32>" TNM = inputs;
INST "input<33>" TNM = inputs;
INST "input<34>" TNM = inputs;
INST "input<35>" TNM = inputs;
INST "input<36>" TNM = inputs;
INST "input<37>" TNM = inputs;
INST "input<38>" TNM = inputs;
INST "input<39>" TNM = inputs;
INST "ma_done" TNM = inputs;
INST "ma_dout<0>" TNM = inputs;
INST "ma_dout<1>" TNM = inputs;
INST "ma_dout<2>" TNM = inputs;
INST "ma_dout<3>" TNM = inputs;
INST "ma_dout<4>" TNM = inputs;
INST "ma_dout<5>" TNM = inputs;
INST "ma_dout<6>" TNM = inputs;
INST "ma_dout<7>" TNM = inputs;
INST "ma_dout<8>" TNM = inputs;
INST "ma_dout<9>" TNM = inputs;
INST "ma_dout<10>" TNM = inputs;
INST "ma_dout<11>" TNM = inputs;
INST "ma_dout<12>" TNM = inputs;
INST "ma_dout<13>" TNM = inputs;
INST "ma_dout<14>" TNM = inputs;
INST "ma_dout<15>" TNM = inputs;
INST "ma_dout<16>" TNM = inputs;
INST "ma_dout<17>" TNM = inputs;
INST "ma_dout<18>" TNM = inputs;
INST "ma_dout<19>" TNM = inputs;
INST "ma_dout<20>" TNM = inputs;
INST "ma_dout<21>" TNM = inputs;
INST "ma_dout<22>" TNM = inputs;
INST "ma_dout<23>" TNM = inputs;
INST "ma_dout<24>" TNM = inputs;
INST "ma_dout<25>" TNM = inputs;
INST "ma_dout<26>" TNM = inputs;
INST "ma_dout<27>" TNM = inputs;
INST "ma_dout<28>" TNM = inputs;
INST "ma_dout<29>" TNM = inputs;
INST "ma_dout<30>" TNM = inputs;
INST "ma_dout<31>" TNM = inputs;
INST "start" TNM = inputs;
TIMEGRP "inputs" OFFSET = IN 10 ns VALID 10 ns BEFORE "CLK" RISING;
INST "output<0>" TNM = outputs;
INST "output<1>" TNM = outputs;
INST "output<2>" TNM = outputs;
INST "output<3>" TNM = outputs;
INST "output<4>" TNM = outputs;
INST "output<5>" TNM = outputs;
INST "output<6>" TNM = outputs;
INST "output<7>" TNM = outputs;
INST "output<8>" TNM = outputs;
INST "output<9>" TNM = outputs;
INST "output<10>" TNM = outputs;
INST "output<11>" TNM = outputs;
INST "output<12>" TNM = outputs;
INST "output<13>" TNM = outputs;
INST "output<14>" TNM = outputs;
INST "output<15>" TNM = outputs;
INST "output<16>" TNM = outputs;
INST "output<17>" TNM = outputs;
INST "output<18>" TNM = outputs;
INST "output<19>" TNM = outputs;
INST "output<20>" TNM = outputs;
INST "output<21>" TNM = outputs;
INST "output<22>" TNM = outputs;
INST "output<23>" TNM = outputs;
INST "output<24>" TNM = outputs;
INST "output<25>" TNM = outputs;
INST "output<26>" TNM = outputs;
INST "output<27>" TNM = outputs;
INST "output<28>" TNM = outputs;
INST "output<29>" TNM = outputs;
INST "output<30>" TNM = outputs;
INST "output<31>" TNM = outputs;
INST "output<32>" TNM = outputs;
INST "output<33>" TNM = outputs;
INST "output<34>" TNM = outputs;
INST "output<35>" TNM = outputs;
INST "output<36>" TNM = outputs;
INST "output<37>" TNM = outputs;
INST "output<38>" TNM = outputs;
INST "output<39>" TNM = outputs;
TIMEGRP "outputs" OFFSET = OUT 10 ns AFTER "CLK";
